<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" icon-only
        ><ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Filtrar evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list-header><b>Tipos de evento</b></ion-list-header>
  <p>
    <ion-chip  (click)="dismissModal(type.value)" [color]="type.color" *ngFor="let type of event_types">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-label>{{type.value}}</ion-label>
    </ion-chip>
  </p>
</ion-content>
