<ion-header [translucent]="true">
  <app-nav-header title="Inicio"><!-- <b>s</b> --></app-nav-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="goToPublication(p.id)" *ngFor="let p of posts">
    <img class="" [src]="p.photo" />
    <ion-card-header>
      <ion-card-subtitle>{{p.category}}</ion-card-subtitle>
      <ion-card-title>{{p.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ p.description.length > 40 ? ( p.description | slice: 0:40) + "..." :
      p.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
