<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
 
    <ion-title>Evento</ion-title>
    <ion-buttons *ngIf="e && e.is_event_user" slot="end">
      <ion-button (click)="suggestion()">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-button>
      <ion-button  (click)="report()">
        <ion-icon name="bonfire-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
 <div *ngIf="e">
  <ion-card >
    <img class="" [src]="e.picture" />
    <ion-card-header>
      <ion-card-title>{{e.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-label>{{getMomentDate(e.date)}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ubicacion</ion-label>
        <ion-label>{{e.location}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-label>{{getStatus(e.status)}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked">Descripcion</ion-label>
        <ion-textarea [value]="e.description" disabled="true"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="e.status != 3 && e.status != 2" >
        <ion-label >Opciones</ion-label>
        <ion-button *ngIf="!e.is_event_user" (click)="joinEvent()" color="success" slot="end">
          Inscribirse
        </ion-button>
        <ion-button *ngIf="e.is_event_user" (click)="unSubscribe()" color="warning" slot="end">
          Cancelar asistencia
        </ion-button>
      </ion-item>
      <div class="star-rating">
 <!--        <ion-item>
          <ion-label position="stacked">Comentario sobre el evento</ion-label>
          <ion-textarea mode="md"></ion-textarea>
        </ion-item> -->
        <ion-item  *ngIf="e && e.is_event_user && e.status == 3">
        <ion-label>Calificación</ion-label>
        <star-rating *ngIf="e && e.is_event_user" 
        [value]="e.qualification" 
        totalstars="5"
        checkedcolor="yellow"
        uncheckedcolor="black" 
        size="24px" 
        [readonly]="e.qualification == 0 ? false : true" 
        (rate)="onRate($event)"></star-rating>
        <ion-icon *ngIf="e && e.is_event_user && e.qualification != 0" color="success" name="checkmark-circle-outline"></ion-icon>
      </ion-item>
      </div>

    </ion-card-content>
  </ion-card>
 </div>

</ion-content>
